<html>
    <head>
        <title>Items</title>
    </head>
    <body>
        <h1>You created an item!</h1>
        <p>{{ newitem.getDescription }}</p>
        <p><a href='/'>View your items.</a></p>
    </body>
</html>
